In [14]:
import pandas as pd

In [15]:
json_reader = pd.read_json(
    "../Dataset/states/dataset_fl.json",
    lines=True,
    chunksize=10000,
)

In [16]:
df_test = next(json_reader)

In [17]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   review_id      10000 non-null  object
 1   user_id        10000 non-null  object
 2   business_id    10000 non-null  object
 3   review_stars   10000 non-null  int64
 4   review_useful  10000 non-null  int64
 5   text           10000 non-null  object
 6   date           10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 547.0+ KB

In [18]:
# 드랍할 컬럼명
review_text = "text"
review_useful = "review_useful"
review_date = "date"

In [19]:
chunk_modified = df_test.drop(columns=[review_useful, review_date], errors="ignore")

In [20]:
chunk_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   review_id     10000 non-null  object
 1   user_id       10000 non-null  object
 2   business_id   10000 non-null  object
 3   review_stars  10000 non-null  int64
 4   text          10000 non-null  object
dtypes: int64(1), object(4)
memory usage: 390.8+ KB

In [21]:
output_path = "../Dataset/states/dataset_fl_split.jsonl"

In [22]:
chunk_modified.to_json(output_path, orient="records", lines=True, force_ascii=False)