In [1]:
import pandas as pd

In [2]:
json_reader = pd.read_json(
    "../Dataset/states/dataset_fl.json",
    lines=True,
    chunksize=100000,
)

In [3]:
df_test = next(json_reader)

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   review_id      100000 non-null  object
 1   user_id        100000 non-null  object
 2   business_id    100000 non-null  object
 3   review_stars   100000 non-null  int64
 4   review_useful  100000 non-null  int64
 5   text           100000 non-null  object
 6   date           100000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 5.3+ MB

In [5]:
# 드랍할 컬럼명
review_text = "text"
review_useful = "review_useful"
review_date = "date"

In [6]:
chunk_modified = df_test.drop(columns=[review_useful, review_date], errors="ignore")

In [7]:
chunk_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   review_id     100000 non-null  object
 1   user_id       100000 non-null  object
 2   business_id   100000 non-null  object
 3   review_stars  100000 non-null  int64
 4   text          100000 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [8]:
output_path = "../Dataset/states/dataset_fl_split100k.jsonl"

In [9]:
chunk_modified.to_json(output_path, orient="records", lines=True, force_ascii=False)